.container {
  display: none;
}
.button {
  width: 3rem;
  height: 3rem;
  padding: 0;
  border-radius: 100%;
  grid-row: 1 / span 3;
  grid-column: 2 / span 1;
}
.buttonIcon {
  height: 1.5rem;
  width: 1.5rem;
}
.buttonContainer {
  position: fixed;
  z-index: 100;
  right: 1rem;
  top: 0.375rem;
  max-height: 3rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1rem 1rem 1rem;
  gap: 4px;
  align-items: center;
  justify-items: end;
}
.buttonMass,
.buttonNPV,
.buttonCPV {
  height: 1rem;
  max-height: 1rem;
  margin: 0;
  padding: 0 0.3rem;
  font-size: 0.5rem;
  line-height: 1;
}
.buttonMass {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
.buttonNPV {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  transform: translateX(-0.4rem);
}
.buttonCPV {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}

@media screen and (min-width: 993px) {
  .container {
    display: block;
    position: fixed;
    margin: -0.5rem 2rem 0 2rem;
    right: 0;
    width: calc((100vw - 300px - 6rem) / 2);
  }
  .buttonContainer {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: calc((100vw - 400px - 6rem) / 2);
  }
}
