.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve {
  transform-box: fill-box;
  transform-origin: center;
}
.twelve {
  transform: rotate(-180deg);
}
.one {
  transform: rotate(-210deg);
}
.two {
  transform: rotate(-240deg);
}
.three {
  transform: rotate(-270deg);
}
.four {
  transform: rotate(-300deg);
}
.five {
  transform: rotate(-330deg);
}
.six {
  transform: rotate(0);
}
.seven {
  transform: rotate(-30deg);
}
.eight {
  transform: rotate(-60deg);
}
.nine {
  transform: rotate(-90deg);
}
.ten {
  transform: rotate(-120deg);
}
.eleven {
  transform: rotate(-150deg);
}
